.brawl-color {
  color: #74e2cd;
}

.leaderboard {
  color: white;
  font-family: monospace;
  padding-top: 20px;

  .score {
    text-align: right;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  th {
    padding: 0 10px;
  }

  tr:nth-child(even) {
    background: #02213d;
  }
  tr:nth-child(odd) {
    background: #01162a;
  }

  .entry-row {
    font-size: 2.5vh;
    line-height: 2vh;
    &.divider {
      line-height: 1.5vh;
    }
    td {
      padding: 10px;
      a {
        color: #74e2cd;
        font-weight: bold;
      }
    }
    &.self {
      background-color: #74e2cd;
      font-weight: bold;
      color: #01162a;
    }
  }
}
