:root {
  --clr-icon-costum: black;
}

.imprint {
  position: absolute;
  right: 20px;
  bottom: 20px;
  a {
    color: white;
  }
}

.privacy {
  position: absolute;
  right: 100px;
  bottom: 20px;
  a {
    color: white;
  }
}

.github {
  background-color: #74e2cd;
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 20px;
  color: #01162a;
  text-decoration: none;
  a {
    font-weight: bolder;
    font-size: 20px;
    color: #01162a;
    text-decoration: none;
  }
  cds-icon {
    font-size: 24px;
    font-weight: bold;
    color: #01162a;
  }
}
