<div class="split-container">
  <as-split
    unit="percent"
    direction="vertical"
    (dragEnd)="dragEnd()"
    draggable="false"
    #divider
    class="hide-split-gutter"
  >
    <as-split-area [size]="100" class="split-area-1">
      <div class="brawl-instructions">
        <div class="brawl-instructions-guide" style="max-height: 70vh">
          <img src="/assets/bashbrawl/bashbrawl_text.png" />
          <div class="brawl-instructions-text" [@shrinkAnimation]="shrinkState">
            <div class="text centered">
              Test your command line skills<br />
              You have 60 seconds to enter commands from
            </div>
            <div class="text centered">
              <span
                *ngFor="let lang of getBrawlLanguages(); let i = index"
                class="brawl-language"
                >{{ lang | uppercase }}
                <span *ngIf="i !== getBrawlLanguages().length - 1">
                  &middot;
                </span>
              </span>
            </div>
            <div
              class="text centered cta"
              *ngIf="!badgeScanningMode && gameStarted"
            >
              Type <i class="brawl-language brawl-color">brawl play</i> to enter
              the arena.
            </div>
            <div
              class="text centered cta"
              *ngIf="!badgeScanningMode && !gameStarted"
            >
              Press <i class="brawl-language brawl-color">ENTER</i> to play.
            </div>
            <div
              class="text centered cta"
              *ngIf="badgeScanningMode && !gameStarted && !cooldown"
            >
              Scan your <i class="brawl-language brawl-color">BADGE</i> to play.
            </div>
            <div class="text centered cooldown-timer" *ngIf="cooldown">
              Please come back in
              <i class="brawl-color">{{
                getFormattedTimeUntilDate(cooldownTime)
              }}</i>
              for another try!
            </div>
            <div class="centered leaderboard" *ngIf="!gameStarted">
              <app-leaderboard-embdedded
                [onlyTop]="5"
                [embedded]="true"
                [advanced]="advancedLeaderboard"
              ></app-leaderboard-embdedded>
            </div>
            <div class="centered leaderboard-space" *ngIf="!gameStarted">
              Hold <i class="brawl-language brawl-color">SPACE</i> for stats.
            </div>
          </div>
        </div>
        <div
          class="terminal"
          id="terminal"
          [@terminalAnimation]="terminalState"
          (@terminalAnimation.done)="resize()"
          *ngIf="gameStarted"
        >
          <app-bashbrawl-terminal
            (gameEnded)="resetToDefault()"
            (gameStarted)="setLargeTerminal()"
            (focusout)="focusTerminal()"
            [code]="code"
            #terminal
          >
          </app-bashbrawl-terminal>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>
