.terminal-border {
  height: calc(100% - 25px);
  width: 100%;
  border: 1px solid rgb(224, 224, 224);
  border-top: none;
  border-radius: 0 0 25px 25px;
  z-index: 2;
}

.terminal-div {
  height: calc(100% - 15px);
  width: 100%;
}

.fake-window-header {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 25px 25px 0 0;
  background-color: rgb(224, 224, 224);
  border-bottom: none;
  height: 25px;
  .bubble {
    border-radius: 50px;
    width: 15px;
    height: 15px;
    float: left;
    margin-left: 5px;
    margin-top: 3px;
    position: absolute;

    &.red {
      background-color: rgba(255, 0, 0, 0.5);
      margin-left: 20px;
    }
    &.orange {
      background-color: rgba(255, 166, 0, 0.5);
      margin-left: 40px;
    }

    &.green {
      background-color: rgba(0, 128, 0, 0.5);
      margin-left: 60px;
    }
  }
  div.title {
    width: 100%;
    color: black;
    font-weight: bold;
    text-align: center;
  }
}

.xterm {
  height: calc(100% - 25px);
}

.xterm-viewport {
  overflow: hidden !important;
}
