.terminal-border {
  height: calc(100% - 25px);
  width: 100%;
  border: 1px solid rgb(224, 224, 224);
  border-top: none;
  border-radius: 0 0 25px 25px;
  z-index: 2;
}

.terminal-div {
  height: calc(100% - 10px);
  width: 100%;
}

.fake-window-header {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 25px 25px 0 0;
  background-color: rgb(224, 224, 224);
  border-bottom: none;
  height: 25px;
  div.title {
    width: 100%;
    color: black;
    font-weight: bold;
    text-align: center;
  }
}

.xterm {
  height: calc(100% - 25px);
}

.xterm-viewport {
  overflow: hidden !important;
}
